[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
scikit-learn = "*"
lightgbm = "*"
bayesian-optimization = "*"
ipykernel = "*"
ipywidgets = "*"
nbformat = "*"
matplotlib = "*"
graphviz = "*"
shap = "*"
catboost = "*"
xgboost = "*"
pm4py = "*"
watchdog = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "streamlit run src/frontend/streamlite/app.py"
